<section class="p-4">
    <h2>Our Artists</h2>
    <div class="flex flex-col md:grid md:grid-cols-2 lg:grid-cols-4 gap-4">
      <article class="grid grid-cols-2 gap-x-4 gap-y-0 border-2 border-gray-800 rounded-md">
        <img class="w-full h-full col-span-1" src="https://assets.codepen.io/296057/fem-rebel-yell.jpg" alt="Rebel Yell - triangles of red, green, orange, yellow, and grey." />
        <div class="flex flex-col">
            <h4 class="uppercase font-normal text-sm m-0">Mixed Media</h4>
            <h3 class="mt-1 font-extrabold">Anni Roenkae</h3>
            <p class="flex-grow">Anni Roenkae is a visual artist based in Finland.</p>
            <a class="hover:underline hover:underline-offset-8 text-xs text-cyan-700 mb-4" href="https://www.anniroenkae.com" target="_blank">Visit website</a>
        </div>
      </article>
  
      <article class="grid grid-cols-2 gap-x-4 gap-y-0 border-2 border-gray-800 rounded-md">
        <img class="w-full h-full col-span-1" src="https://assets.codepen.io/296057/fem-wallpaper.jpg" alt="Grey squares with deep wells of aqua, with white lines in between the squares." />
        <div class="flex flex-col">
            <h4 class="uppercase font-normal text-sm m-0">Wallpaper</h4>
            <h3 class="mt-1 font-extrabold">Ben Neale</h3>
            <p class="flex-grow">Ben Neale is a photographer and designer, based out of Adelaide, Australia.</p>
            <a class="hover:underline hover:underline-offset-8 text-xs text-cyan-700 mb-4" href="https://www.pexels.com/@ben-neale-123878" target="_blank">Visit website</a>
        </div>
      </article>
  
      <article class="grid grid-cols-2 gap-x-4 gap-y-0 border-2 border-gray-800 rounded-md">
        <img class="w-full h-full col-span-1" src="https://assets.codepen.io/296057/fem-drip.jpg" alt="A rainbow of shiny paint drips." />
        <div class="flex flex-col">
            <h4 class="uppercase font-normal text-sm m-0">Artwork</h4>
            <h3 class="mt-1 font-extrabold">Sharon McCutcheon</h3>
            <p class="flex-grow">Sharon McCutcheon specializes in LGBTQIA+ themes, stock photos, macro images, backgrounds, and colorful visuals.</p>
            <a class="hover:underline hover:underline-offset-8 text-xs text-cyan-700 mb-4" href="https://unsplash.com/@sharonmccutcheon" target="_blank">Visit website</a>
        </div>
      </article>
  
      <article class="grid grid-cols-2 gap-x-4 gap-y-0 border-2 border-gray-800 rounded-md">
        <img class="ww-full h-full col-span-1" src="https://assets.codepen.io/296057/fem-invader.jpg" alt="A dirty yellow wall with a rust-color 8-bit space invader." />
        <div class="flex flex-col">
            <h4 class="uppercase font-normal text-sm m-0">Photography</h4>
            <h3 class="mt-1 font-extrabold">Francesco Ungaro</h3>
            <p class="flex-grow">Francesco Ungaro is a strategy and presentation consultant and photography lover, based in Milan.</p>
            <a class="hover:underline hover:underline-offset-8 text-xs text-cyan-700 mb-4" href="https://www.ghostpresenter.it/" target="_blank">Visit website</a>
        </div>
      </article>
    </div>
  </section>