<section class="section-cat-card p-0 b-0">
    <div class="grid gap-3">
        <figure class="animate-card col-start-1 col-end-2 row-start-1 row-end-2 w-[500px] justify-self-center m-0 p-0">
          <img src="http://placekitten.com/500/500?image=5" alt="cute kitten">
          <figcaption class="p-4 text-white bg-black">
            <h2 class="font-bold text-2xl">Kitten 5</h2>
            <p>Lorem ipsum dolor sit amet.</p>
          </figcaption>
        </figure>
        <figure class="col-start-1 col-end-2 row-start-1 row-end-2 w-[500px] justify-self-center m-0 p-0">
          <img src="http://placekitten.com/500/500?image=6" alt="cute kitten">
          <figcaption class="p-4 text-white bg-black">
            <h2 class="font-bold text-2xl">Kitten 6</h2>
            <p>Lorem ipsum dolor sit amet.</p>
          </figcaption>
        </figure>
      </div>
        
</section>