
<section class="section-magazine-layout p-8 border-0 bg-green-300">
    <div class="grid grid-cols-4 gap-3">
        <figure class="col-span-1 order-2 m-0 p-0 rounded-md">
          <img src="http://placekitten.com/1000/1000?image=1" alt="cute kitten">
          <figcaption class="p-4 text-white bg-black">
            <h2 class="font-bold text-2xl">Kitten 1</h2>
            <p>Lorem ipsum dolor sit amet.</p>
          </figcaption>
        </figure>
        <figure class="col-span-1 order-2 m-0 p-0">
          <img src="http://placekitten.com/1000/1000?image=2" alt="cute kitten">
          <figcaption class="p-4 text-white bg-black">
            <h2 class="font-bold text-2xl">Kitten 2</h2>
            <p>Lorem ipsum dolor sit amet.</p>
          </figcaption>
        </figure>
        <figure class="col-span-1 order-3 m-0 p-0">
          <img src="http://placekitten.com/1000/1000?image=3" alt="cute kitten">
          <figcaption class="p-4 text-white bg-black">
            <h2 class="font-bold text-2xl">Kitten 3</h2>
            <p>Lorem ipsum dolor sit amet.</p>
          </figcaption>
        </figure>
        <figure class="col-span-2 row-span-2 order-3 m-0 p-0">
          <img src="http://placekitten.com/1000/1000?image=4" alt="cute kitten">
          <figcaption class="p-4 text-white bg-black">
            <h2 class="font-bold text-2xl">Kitten 4</h2>
            <p>Lorem ipsum dolor sit amet.</p>
          </figcaption>
        </figure>
        <figure class="col-span-1 order-3 m-0 p-0">
          <img src="http://placekitten.com/1000/1000?image=5" alt="cute kitten">
          <figcaption class="p-4 text-white bg-black">
            <h2 class="font-bold text-2xl">Kitten 5</h2>
            <p>Lorem ipsum dolor sit amet.</p>
          </figcaption>
        </figure>
        <figure class="col-span-1 order-4 m-0 p-0">
          <img src="http://placekitten.com/1000/1000?image=6" alt="cute kitten">
          <figcaption class="p-4 text-white bg-black">
            <h2 class="font-bold text-2xl">Kitten 6</h2>
            <p>Lorem ipsum dolor sit amet.</p>
          </figcaption>
        </figure>
        <figure class="col-span-4 order-1 m-0 p-0">
          <img src="http://placekitten.com/1000/1000?image=7" class="w-full" alt="cute kitten">
          <figcaption class="p-4 text-white bg-black">
            <h2 class="font-bold text-2xl">Kitten 7</h2>
            <p>Lorem ipsum dolor sit amet.</p>
          </figcaption>
        </figure>
        <figure class="col-span-1 order-4 m-0 p-0">
          <img src="http://placekitten.com/1000/1000?image=8" alt="cute kitten">
          <figcaption class="p-4 text-white bg-black">
            <h2 class="font-bold text-2xl">Kitten 8</h2>
            <p>Lorem ipsum dolor sit amet.</p>
          </figcaption>
        </figure>
        <figure class="col-span-1 order-5 m-0 p-0">
          <img src="http://placekitten.com/1000/1000?image=9" alt="cute kitten">
          <figcaption class="p-4 text-white bg-black">
            <h2 class="font-bold text-2xl">Kitten 9</h2>
            <p>Lorem ipsum dolor sit amet.</p>
          </figcaption>
        </figure>
        <figure class="col-span-2 order-2 p-0 m-0">
          <img src="http://placekitten.com/1000/1000?image=10" alt="cute kitten">
          <figcaption class="p-4 text-white bg-black">
            <h2 class="font-bold text-2xl">Kitten 10</h2>
            <p>Lorem ipsum dolor sit amet.</p>
          </figcaption>
        </figure>
        <figure class="col-span-1 order-5 m-0 p-0">
          <img src="http://placekitten.com/1000/1000?image=11" alt="cute kitten">
          <figcaption class="p-4 text-white bg-black">
            <h2 class="font-bold text-2xl">Kitten 11</h2>
            <p>Lorem ipsum dolor sit amet.</p>
          </figcaption>
        </figure>
        <figure class="col-span-1 order-5 m-0 p-0">
          <img src="http://placekitten.com/1000/1000?image=12" alt="cute kitten">
          <figcaption class="p-4 text-white bg-black">
            <h2 class="font-bold text-2xl">Kitten 12</h2>
            <p>Lorem ipsum dolor sit amet.</p>
          </figcaption>
        </figure>
    </div>
</section>
