<!-- <app-responsive-grid></app-responsive-grid> -->
<!-- <app-grid-animation></app-grid-animation> -->
<!-- <app-magazine-layout></app-magazine-layout> -->
<!-- <app-card-layout></app-card-layout> -->

<div class="flex w-full min-h-screen font-sans bg-gray-800">
    <app-side-bar></app-side-bar>
    <main class="flex flex-col flex-1 gap-6 p-4">
        <header>
            <h1 class="text-3xl font-semibold leading-loose text-white">Dashboard</h1>
            <div class="text-gray-200">Tuesday 2 Feb, 2021</div>
        </header>
        <hr class="border-gray-700" />
        <app-stats-card></app-stats-card>
        <app-order-report></app-order-report>
    </main>
    <aside class="flex flex-col gap-y-6 pt-6 pr-6 w-96">
       <app-most-ordered></app-most-ordered>
       <app-most-type-order></app-most-type-order>
      </aside>
</div>

<router-outlet></router-outlet>
