
 <section class="section-responsive-grid p-8 border-0 bg-green-300">
    <div class="sm:grid sm:grid-cols-4 sm:gap-3 sm:auto-rows-auto">
        <!-- Row 1: One box per column -->
        <figure class="sm:col-span-2 lg:col-span-1 m-0 p-0">
          <div class="bg-[#9b2226]"></div>
          <figcaption class="p-4 text-white bg-black">
            <h2 class="font-bold text-2xl">Abstract 1</h2>
            <p>Lorem ipsum dolor sit amet.</p>
          </figcaption>
        </figure>
        <figure class="sm:col-span-2 lg:col-span-1">
          <div class="bg-[#bb3e03]"></div>
          <figcaption class="p-4 text-white bg-black">
            <h2 class="font-bold text-2xl">Abstract 2</h2>
            <p>Lorem ipsum dolor sit amet.</p>
          </figcaption>
        </figure>
        <figure class="sm:col-span-2 lg:col-span-1">
          <div class="bg-[#ee9b00]"></div>
          <figcaption class="p-4 text-white bg-black">
            <h2 class="font-bold text-2xl">Abstract 3</h2>
            <p>Lorem ipsum dolor sit amet.</p>
          </figcaption>
        </figure>
        <figure class="sm:col-span-2 lg:col-span-1">
          <div class="bg-[#005f73]"></div>
          <figcaption class="p-4 text-white bg-black">
            <h2 class="font-bold text-2xl">Abstract 4</h2>
            <p>Lorem ipsum dolor sit amet.</p>
          </figcaption>
        </figure>
          <!-- Row 2: 2 boxes, each spanning 2 columns -->
        <figure class="sm:col-span-2">
            <div class="bg-[#ee9b00]"></div>
            <figcaption class="p-4 text-white bg-black">
            <h2 class="font-bold text-2xl">Abstract 3</h2>
            <p>Lorem ipsum dolor sit amet.</p>
            </figcaption>
        </figure>
        <figure class="sm:col-span-2">
            <div class="bg-[#9b2226]"></div>
            <figcaption class="p-4 text-white bg-black">
            <h2 class="font-bold text-2xl">Abstract 1</h2>
            <p>Lorem ipsum dolor sit amet.</p>
            </figcaption>
        </figure>
          <!-- Row 3: One box spans 3 columns, one box spans 1 column -->
        <figure class="sm:col-span-4 lg:col-span-3">
            <div class="bg-[#005f73]"></div>
            <figcaption  class="p-4 text-white bg-black">
            <h2 class="font-bold text-2xl">Abstract 4</h2>
            <p>Lorem ipsum dolor sit amet.</p>
            </figcaption>
        </figure>
        <figure class="sm:col-span-4 lg:col-span-1">
            <div class="bg-[#bb3e03]"></div>
            <figcaption class="p-4 text-white bg-black">
            <h2 class="font-bold text-2xl">Abstract 2</h2>
            <p>Lorem ipsum dolor sit amet.</p>
            </figcaption>
        </figure>
          <!-- Row 4: One box spans 4 columns -->
        <figure class="sm:col-span-4">
            <div class="bg-[#ee9b00]"></div>
            <figcaption class="p-4 text-white bg-black">
            <h2 class="font-bold text-2xl">Abstract 3</h2>
            <p>Lorem ipsum dolor sit amet.</p>
            </figcaption>
        </figure>
          <!-- Row 5: 3 boxes, 1-2-1 distribution -->
        <figure class="sm:col-span-2 sm:order-2 lg:col-span-1">
            <div class="bg-[#005f73]"></div>
            <figcaption class="p-4 text-white bg-black">
            <h2 class="font-bold text-2xl">Abstract 4</h2>
            <p>Lorem ipsum dolor sit amet.</p>
            </figcaption>
        </figure>
        <figure class="sm:col-span-4 sm:order-1 lg:col-span-2">
            <div class="bg-[#bb3e03]"></div>
            <figcaption class="p-4 text-white bg-black">
            <h2 class="font-bold text-2xl">Abstract 2</h2>
            <p>Lorem ipsum dolor sit amet.</p>
            </figcaption>
        </figure>
        <figure class="sm:col-span-2 sm:order-2 lg:col-span-1">
            <div class="bg-[#9b2226]"></div>
            <figcaption class="p-4 text-white bg-black">
            <h2 class="font-bold text-2xl">Abstract 1</h2>
            <p>Lorem ipsum dolor sit amet.</p>
            </figcaption>
        </figure>
      </div>
 </section>