<div class="navbar">
    <div class="navbar-l">
        <a href="#" class="navbar-brand">B</a>
        <ul class="nav-list -translate-x-full lg:translate-x-0 transition-default">
            <button class="navbar-hide-btn" type="button">
                <img src="../assets/icons/close-icon.svg" alt="">
            </button>
            <li class="nav-item">
                <a href="#" class="nav-link">Starts</a>
            </li>
            <li class="nav-item active">
                <a href="#" class="nav-link">Projects</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Planning</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Teams</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Calendar</a>
            </li>
        </ul>
        <div class="navbar-show-btn" type="button">
            <img src="../assets/icons/menu-icon.svg" alt="">
        </div>
    </div>

    <div class="navbar-r">
        <div class="nav-icon-btns">
            <button class="nav-icon-btn">
                <img src="/assets/icons/search-icon.svg" alt="">
            </button>
            <button class="nav-icon-btn">
                <img src="/assets/icons/grid-icon.svg" alt="">
            </button>
            <button class="nav-icon-btn">
                <img src="/assets/icons/plus-icon.svg" alt="">
            </button>
            <button class="nav-icon-btn">
                <img src="/assets/icons/folder-icon.svg" alt="">
            </button>
            <button class="nav-icon-btn">
                <img src="/assets/icons/bell-icon.svg" alt="">
            </button>
        </div>

        <button class="nav-profile-btn">
            <div class="profile-btn-img">
                <img src="/assets/img/avatar.jpg" alt="">
            </div>
            <img src="/assets/icons/chevron-down-1.svg" alt="" class="profile-btn-icon">
        </button>
    </div>
</div>